* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    background-color: #ccc;
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_left img {
    width: 20px;
}

.header_middle {
    width: 30vw;
    position: relative;
}

.header_middle input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 0.5px solid gray;

}

.search {
    position: absolute;
    right: 0px;
    top: 10px;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.fa-video-slash,
.fa-table,
.fa-bell {
    font-size: 20px;
}

.Image_profile {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.Image_profile img {
    border-radius: 50%;
}

.sideBar {
    background-color: #fff;
    width: 15%;
    height: 98vh;
    position: fixed;
    top: 0;
    margin-top: 80px;
    padding-left: 2%;
    overflow: scroll;

}

.sideBar::-webkit-scrollbar {
    display: none;
}

.fa-house {
    font-size: 20px;
}

.shortcutLink a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    text-decoration: none;
}

.shortcutLink a:first-child {
    color: #ed3833;
}

.shortcutLink a img {
    width: 20px;
    margin-right: 20px;
}

hr {
    color: #ccc;
    width: 80%;
}

.subscribeList {
    padding-bottom: 70px;
}

.subscribeList h3 {
    font-size: 13px;
    margin: 20px 0px;
    color: #5a5a5a;

}

.subscribeList a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    margin-bottom: 20px;
    text-decoration: none;

}

.subscribeList a img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small_sidebar {
    width: 5%;

}

.small_sidebar p {
    display: none;
}

.small_sidebar h3 {
    display: none;
}

.small_sidebar hr {
    width: 50%;
    margin-bottom: 20px;
}

.container {
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
}

.banner img {
    width: 100%;
}

.large_container {
    padding-left: 7%;
}

.large_container .banner {
    width: 100%;
}

.list_container {
    width: 24.2%;
    border-radius: 10px;


}

.video_list img {
    width: 100%;
    border-radius: 10px;
}

.discription {
    width: 78%;
    height: 100%;

}

.discription_box {
    display: flex;
    width: 300px;
    gap: 10px;

}

.discription_box a {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;

}

.Image_profiles {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.Image_profiles img {
    border-radius: 50%;
}



.videoList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* padding-top: 20px; */
}



.videos_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

iframe {
    height: 200px;
    width: 330px;
}

.channel_image {
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel_image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.discription_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

#video_discription {
    font-weight: bold;
    font-size: 15px;
    max-width: 300px;
    /* Adjust the width to control where the break happens */

}

.video_sub_disc {
    font-weight: 500;
    font-size: 13px;
}


.views {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px;
    align-items: center;
}